In [3]:
import pandas as pd
import numpy as np

from smt.sampling_methods import LHS

#import warnings
#warnings.filterwarnings('ignore')

In [4]:
baseparameter_df = pd.read_excel('./basesampling.xlsx',index_col='Tagname', sheet_name='Overall')

In [5]:
baseparameter_df = baseparameter_df[['Lower', 'Upper']]

In [6]:
baseparameter_df

                     Lower         Upper
Tagname
FEED1MASSFLOW  10000.00000  30000.000000
FEED1TEMP         10.00000     35.000000
PROD1MASSFLOW  20000.00000  60000.000000
PROD1TEMP         90.00000    135.000000
E1FOULING          0.00025      0.002936
E2FOULING          0.00025      0.002936

In [7]:
xlimits = []
for key, rows in baseparameter_df.iterrows():
    xlimits.append(rows.to_list())
xlimits_lhs = np.array(xlimits)

In [8]:
xlimits_lhs

array([[1.000e+04, 3.000e+04],
       [1.000e+01, 3.500e+01],
       [2.000e+04, 6.000e+04],
       [9.000e+01, 1.350e+02],
       [2.500e-04, 2.936e-03],
       [2.500e-04, 2.936e-03]])

In [13]:
sampling = LHS(xlimits=xlimits_lhs, random_state=42)
num = 1000
x = sampling(num)

print(x.shape)

(1000, 6)

In [14]:
df_sample = pd.DataFrame(x, columns = baseparameter_df.index.to_list())

In [15]:
df_sample

     FEED1MASSFLOW  FEED1TEMP  PROD1MASSFLOW  PROD1TEMP  E1FOULING  E2FOULING
0          10550.0    14.2625        49740.0   124.9875   0.002067   0.002161
1          15250.0    12.1625        34620.0   119.9025   0.002626   0.000963
2          22590.0    17.0375        20540.0    94.6575   0.000952   0.001737
3          19770.0    20.7375        27820.0   118.5975   0.001178   0.002110
4          20990.0    10.1125        27580.0   121.7925   0.001530   0.000595
..             ...        ...            ...        ...        ...        ...
995        10250.0    10.6375        38460.0   131.2875   0.000950   0.001621
996        25450.0    34.9875        52020.0   124.0875   0.000748   0.002580
997        26370.0    20.6375        41700.0    93.0375   0.002569   0.001044
998        20250.0    29.9875        28100.0   105.0975   0.002234   0.002454
999        24730.0    20.3875        29660.0    93.3075   0.001079   0.000292

[1000 rows x 6 columns]

In [16]:
df_sample.to_excel('./SimpleHX_LHS1000_overall_samples.xlsx')